@keyframes steam {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 400px;
  gap: 60px;
  padding: 20px;
}

.full_width_banner, footer, header {
  text-align: center;
  padding: 20px;
  margin: 0;
  width: 100%;
}

header {
  border: 3px solid #6e4c34;
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  top: 0;
}

footer {
  border-width: 0;
  margin-top: -50px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #212121;
}

.divider {
  border: 1px solid #6e4c34;
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 5px;
  margin-top: 80px;
  margin-bottom: 80px;
}

h5 {
  font-style: normal;
  font-weight: normal;
}

.quiz {
  text-align: center;
  bottom: 0;
  width: 100%;
}
.quiz h2 {
  font-size: 24px;
}
.quiz label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.quiz label input {
  display: none;
}
.quiz label span {
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #6e4c34;
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.quiz label span:hover {
  background: #6e4c34;
  color: white;
}
.quiz label input:checked + span {
  background: #6e4c34;
  color: white;
}

.brewing {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
.brewing h2 {
  font-size: 24px;
}
.brewing .steps {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  vertical-align: middle;
  height: fit-content;
}
.brewing .steps .step {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  background: rgb(240.5, 240.5, 240.5);
  border-radius: 30px;
  display: inline-block;
  width: 200px;
}
.brewing .progress-bar {
  width: 100%;
  height: 8px;
  background: transparent;
  position: relative;
}
.brewing .progress-bar:after {
  content: "";
  border: 1px solid #6e4c34;
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 0%;
  left: 0;
  height: 100%;
  background-color: #4b2e1e;
  animation: progress 10s infinite alternate;
}

.coffee-item {
  perspective: 1000px;
  transition: transform 0.3s;
  position: relative;
  text-align: center;
  height: 400px;
}
.coffee-item__back, .coffee-item__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background: transparent;
  backface-visibility: hidden;
  transition: all 1s linear;
}
.coffee-item:hover .coffee-item__front {
  transform: rotateY(180deg);
}
.coffee-item:hover .coffee-item__back {
  transform: rotateY(0deg);
}
.coffee-item__back {
  transform: rotateY(-180deg);
}
.coffee-item img {
  margin: 0 auto;
  position: relative;
  padding: 10px;
  width: 50%;
  height: auto;
  background: transparent;
}
.coffee-item__back, .coffee-item__front {
  border: 3px solid #6e4c34;
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  color: #212121;
}
.coffee-item__back .temperature, .coffee-item__front .temperature {
  width: 100%;
  margin-top: -20px;
  border-radius: 30px;
  height: 30px;
}
.coffee-item__back .temperature {
  background: linear-gradient(135deg, #4cbaff, #d4a373);
}
.coffee-item__front .temperature {
  background: linear-gradient(135deg, #4b2e1e, #b65e35);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=main.css.map */
