header {
    @include full_width_banner;
    @include outlined_box($standard_border_width);
    top: 0
}

footer {
    @include full_width_banner;
    border-width: 0;
    margin-top: -50px;
}

body {
    font-family: $font-stack;
    background-color: $background_color;
    color: $text-color;
}

.divider {
    @include outlined_box(1px);
    height: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
}

h5 {
    font-style: normal;
    font-weight: normal;
}