.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    grid-template-rows: 400px;
    gap: 60px;
    padding: 20px 2.5%;
    margin-top: 30px;
    width: 95%;
}

.full_width_banner {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
}


header {
    @extend .full_width_banner;
    @include outlined_box($standard_border_width);
    top: 0
}

footer {
    @extend .full_width_banner;
    border-width: 0;
    margin-top: -50px;
}

body {
    font-family: $font-stack;
    background-color: $background_color;
    color: $text-color;
}

.divider {
    @include outlined_box(1px);
    height: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
}

h5 {
    font-style: normal;
    font-weight: normal;
}
