@mixin outlined_box($width) {
    border: $width $border;
    border-radius: $border_radius;
    box-shadow: inset $shadow, $shadow;
}

@mixin full_width_banner {
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
}

@mixin button-style($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
    border-radius: $border_radius;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: darken($bg-color, 10%);
    }
}
