@mixin outlined_box($width) {
    border: $width $border;
    border-radius: $border_radius;
    box-shadow: inset $shadow, $shadow;
}

@mixin full_width_banner {
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
}
