@import "utilities/variables";
@import "utilities/anims";
@import "utilities/functions";
@import "utilities/mixins";
@import "layout";
@import "custom-components/components";

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
  