@import "variables";
@import "anims";
@import "functions";
@import "mixins";
@import "layout";
@import "components";

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
  